<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bentley.auth.RefreshTokenMapper">
    <resultMap id="refreshTokenResultMap" type="com.bentley.auth.RefreshToken" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <insert id="insert" parameterType="com.bentley.auth.RefreshToken" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO refreshToken(userType, userId, token, expiresAt, createdAt, updatedAt)
        VALUES (#{userType}, #{userId}, #{token}, #{expiresAt}, #{createdAt}, #{updatedAt})
    </insert>

    <delete id="deleteByUserTypeAndUserIdAndToken">
        DELETE FROM refreshToken
        WHERE userType = #{userType} AND userId = #{userId} AND token = #{token}
    </delete>
</mapper>
